.m-t-90{
  margin-top: 90px;
}

@media screen and (max-width: 600px) {
  .m-l-100{
    margin-left: 100px;
  }
  p{
      padding-left: 15px;
    }
}

.m-t-20{
  margin-top: 20px
}

@media (min-width:961px){
  .m-l-50{
    margin-left: 50px;
  }
}