<div class="container">
	<a class="pull-right m-t-20" (click)="clearAll()">Go back</a>
	<div class="row m-t-90">
		<div class="col-md-4 col-md-offset-4">
			<div class="pannel">
				<div class="panel-body">
					<div class="thubnail">
						<img src="https://cdn1.iconfinder.com/data/icons/warnings-and-dangers/400/Warning-02-128.png
"  class="m-l-100 m-l-50"/>
						<h2 class="m-l-100 m-l-50">Thank you.</h2>
						<p>we are happpy to with you, you order has been accepted. Will get back you soon.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>